<a href="https://colab.research.google.com/github/flavianacif/DSWP/blob/master/2020_10_09_Exercicio9_FIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df_fifa = pd.read_csv('https://github.com/flavianacif/DSWP/blob/master/Dataframes/FIFA.csv?raw=true') ##Questão 1

In [2]:
df_fifa.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [4]:
df_fifa.shape

(18207, 89)

In [6]:
df_fifa['ID'].value_counts() ##Para ver se ID pode ser index

231423    1
225883    1
205393    1
244306    1
209491    1
         ..
244973    1
177388    1
199915    1
234728    1
198657    1
Name: ID, Length: 18207, dtype: int64

In [7]:
df_fifa_copy = df_fifa.set_index('ID')

In [8]:
df_fifa_copy.head()

        Unnamed: 0               Name  ...  GKReflexes Release Clause
ID                                     ...
158023           0           L. Messi  ...         8.0        €226.5M
20801            1  Cristiano Ronaldo  ...        11.0        €127.1M
190871           2          Neymar Jr  ...        11.0        €228.1M
193080           3             De Gea  ...        94.0        €138.6M
192985           4       K. De Bruyne  ...        13.0        €196.4M

[5 rows x 88 columns]

In [11]:
df_fifa_copy.columns = df_fifa_copy.columns.str.lower() ## Questão 5

In [13]:
df_fifa_copy.dtypes ##Questão 4

unnamed: 0          int64
name               object
age                 int64
photo              object
nationality        object
                   ...
gkhandling        float64
gkkicking         float64
gkpositioning     float64
gkreflexes        float64
release clause     object
Length: 88, dtype: object

In [17]:
df_fifa_copy['nationality'].value_counts() ##Questão 6

England      1662
Germany      1198
Spain        1072
Argentina     937
France        914
             ...
Grenada         1
Malta           1
Guam            1
Palestine       1
Qatar           1
Name: nationality, Length: 164, dtype: int64

In [35]:
pd.DataFrame(df_fifa_copy.loc[:,'nationality'].value_counts()) ##Questão 6 - outra forma

           nationality
England           1662
Germany           1198
Spain             1072
Argentina          937
France             914
...                ...
Grenada              1
Malta                1
Guam                 1
Palestine            1
Qatar                1

[164 rows x 1 columns]

In [36]:
df_fifa_copy.groupby('nationality')['age'].mean() ##Questão 7

nationality
Afghanistan    22.500000
Albania        24.025000
Algeria        27.050000
Andorra        28.000000
Angola         25.866667
                 ...
Uzbekistan     29.500000
Venezuela      24.313433
Wales          24.736434
Zambia         22.222222
Zimbabwe       26.846154
Name: age, Length: 164, dtype: float64

In [38]:
df_fifa_copy[['age','nationality']].groupby('nationality').mean() ##Questão 7 - outra forma

                   age
nationality
Afghanistan  22.500000
Albania      24.025000
Algeria      27.050000
Andorra      28.000000
Angola       25.866667
...                ...
Uzbekistan   29.500000
Venezuela    24.313433
Wales        24.736434
Zambia       22.222222
Zimbabwe     26.846154

[164 rows x 1 columns]

In [39]:
df_fifa_copy['age'].value_counts() #Questão 8

21    1423
26    1387
24    1358
22    1340
23    1332
25    1319
20    1240
27    1162
28    1101
19    1024
29     959
30     917
18     732
31     707
32     574
33     408
34     404
17     289
35     196
36     127
37      82
16      42
38      37
39      25
40      13
41       5
44       2
42       1
45       1
Name: age, dtype: int64

In [40]:
df_fifa_copy['club'].value_counts() #Questão 9

Manchester City         33
Newcastle United        33
Manchester United       33
Valencia CF             33
AS Monaco               33
                        ..
Sport Club do Recife    20
Paraná                  20
Sligo Rovers            19
Limerick FC             19
Derry City              18
Name: club, Length: 651, dtype: int64

In [50]:
df_fifa_copy['wage']

ID
158023    €565K
20801     €405K
190871    €290K
193080    €260K
192985    €355K
          ...
238813      €1K
243165      €1K
241638      €1K
246268      €1K
246269      €1K
Name: wage, Length: 18207, dtype: object

In [57]:
pd.to_numeric(df_fifa_copy['wage'].str[1:-1])

ID
158023    6.0
20801     0.0
190871    9.0
193080    6.0
192985    5.0
         ...
238813    NaN
243165    NaN
241638    NaN
246268    NaN
246269    NaN
Name: wage, Length: 18207, dtype: float64

In [60]:
df_fifa_copy['wage'] = pd.to_numeric(df_fifa_copy['wage'].str[1:-1])

AttributeError: ignored

In [61]:
df_fifa_copy['wage']

ID
158023    6.0
20801     0.0
190871    9.0
193080    6.0
192985    5.0
         ...
238813    NaN
243165    NaN
241638    NaN
246268    NaN
246269    NaN
Name: wage, Length: 18207, dtype: float64

In [78]:
import numpy as np

In [85]:
df_fifa_copy['wage'][df_fifa_copy['wage'].isna()]

Series([], Name: wage, dtype: float64)

In [80]:
df_fifa_copy['wage'][df_fifa_copy['wage'].isna()] = np.zeros(shape = df_fifa_copy['wage'][df_fifa_copy['wage'].isna()].shape)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
df_fifa_copy['wage']

ID
158023    6.0
20801     0.0
190871    9.0
193080    6.0
192985    5.0
         ...
238813    NaN
243165    NaN
241638    NaN
246268    NaN
246269    NaN
Name: wage, Length: 18207, dtype: float64

In [63]:
df_fifa_copy.groupby('club').agg({'wage':['sum','mean']})

                      wage
                       sum mean
club
 SSV Jahn Regensburg   0.0  NaN
1. FC Heidenheim 1846  0.0  NaN
1. FC Kaiserslautern   0.0  NaN
1. FC Köln             0.0  NaN
1. FC Magdeburg        0.0  NaN
...                    ...  ...
Zagłębie Sosnowiec     0.0  NaN
Çaykur Rizespor        0.0  NaN
Örebro SK              0.0  NaN
Östersunds FK          0.0  NaN
Śląsk Wrocław          0.0  NaN

[651 rows x 2 columns]

In [ ]:
df_fifa_copy.ty